extends includes/layout.pug

block contenido
    h1 Lista de usuarios 

    if usuarios.length > 0
        ul 
            each usuario in usuarios
                li.usuario.otra-clase #{usuario.nombre} #{usuario.apellidos}
    else 
        p#sin-usuarios No hay usuarios :(